export PIVNET_TOKEN=
export TAS4K8S_DOMAIN=
export PIV_REGISTRY_USERNAME=
export PIV_REGISTRY_PASSWORD=
export APP_REGISTRY_HOSTNAME=
export APP_REGISTRY_REPOSITORY=
export APP_REGISTRY_USERNAME=
export APP_REGISTRY_PASSWORD=
